@import url('./fonts.css');

body {
  font-family: 'bague test', sans-serif; 
  font-weight: 400;
  font-size: 1.2em;
  line-height: 1.68;
}

h1, h2, h3, h4, h5, h6 { font-weight: 600;}

h1 {
  font-size: 3em;
	font-family: 'francis gradient test', 'bague test', sans-serif;
  text-transform: uppercase;
}

h1 a {
  text-decoration: none;
  background: transparent;
  color: black;
  padding: 0;
}
h1 a:hover { background: none;}

/* Link Styles */

a {
  text-decoration: none;
  color: rba(0, 0, 0, 1);
  background: rgba(80, 227, 194, .12);
  padding: 0.125rem 0.25em;
}

a:link { color:black;}
a:visited { color: black; }
a:hover { background: rgba(80, 227, 194, .5); }
