@import url("./fonts.css");

/* Variables {{{1 */

$black: rgba( 0, 0, 0, 1);
$white: rgba(255, 255, 255, 1);
$green_a05: rgba(80, 227, 194, .05);
$green_a1: rgba(80, 227, 194, .1);
$green_a2: rgba(80, 227, 194, .2);
$green_a25: rgba(80, 227, 194, .25);
$green_a5: rgba(80, 227, 194, .5);
$green_a75: rgba(80, 227, 194, .75);
$green: rgba(80, 227, 194, 1);
$lavender: rgba(214, 186, 255, .4);
$lavender_75: rgba(214, 186, 255, .75);
$linegray: rgba(155, 155, 155, 1);
$linegreen: rgba(187, 215, 209, 1);

$francisGradientLeft: "WF-031942-010448-002217";
$francisGradientRight: "WF-031942-010448-002218";
$francisGradientInside: "WF-031942-010448-002219";
$francisGradientOutside: "WF-031942-010448-002220";

$mastheadHeight: 1234567890px;

/* Variables }}}1 */

/* ——————————————————————————————————  Micro Typography ————————————————————————————————————— */

/* Text Formatting {{{1 */


html, * { box-sizing: border-box; }
body {
  font-family: 'PFBagueSansPro', sans-serif; 
  text-rendering: optimizeLegibility;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.68;
  font-variant-numeric: proportional-nums;
}

h2, h3, h4, h5, h6 { font-weight: 600;}

header , footer{
  #masthead {
    h1, p {
      line-height: 1;
      color: white;
    }
    h1 {
      font-family: $francisGradientInside, 'PFBagueSansPro', sans-serif;
      font-weight: normal;
      font-size: 6.5rem;
      text-transform: uppercase;
    }
    p { // byline "Haus der Künste"
      font-weight: 500;
      font-size: 1.75rem;
      letter-spacing: 0.5215rem;
    }
  }
}

header {
  nav ul li {
    font-size: 1.25rem;
  }
}

main {
  font-size: 1.25rem;
  line-height: 1.68;
  h2 {
    font-size: 6.25rem;
    font-family: $francisGradientInside, sans-serif;
    font-weight: normal;
    text-transform: uppercase;
  }
  h3 {
    font-size: 2rem;
    line-height: 1; // fast aliniert mit Bildern in Raster
    font-weight: 400;
  }
  p.teacher-quote {
    font-weight: 600;
    font-size: 2rem;
    line-height: 1.2;
  }
  p, ul {
    margin-bottom: 1.75rem;
  }
  section.contact #abo-preise { font-variant-numeric: tabular-nums; }
  section#calendar { font-size: 0.9375rem; }
}

strong { font-weight: 600; }


.nowrap { white-space: nowrap; }

/* End Text Formatting }}}1 */

/* List Styles {{{1 */

main ul {
  li { 
    margin-left: 0.6rem;
    text-indent: -0.6rem;
  }
  li:before { content: "· ";}
}

/* End List Styles }}}1 */

/* Link Styles {{{1 */

h1 a {
  text-decoration: none;
  border: none;
  background: transparent;
  color: black;
  padding: 0;
}
h1 a:hover {
  background: none;
  border-bottom: none;
}

header nav ul li a { border-bottom: none; }
header nav ul li a:hover {
  font-weight: 900;
  background: transparent;
  border: none;
}
header nav ul li.active a { font-weight: 900; }

a {
  text-decoration: none;
  color: $black;
  border-bottom: solid $green_a25 .1875rem;
}

a:link { color:black;}
a:visited { color: black; }
a:hover { border-bottom: solid $green_a75 .1875rem; }

a.arrow-left-before:before {
  padding-right: 0.25rem;
  content: url("/assets/_pic/arrow_left.svg");
}
a.arrow-left-after:after {
  padding-left: 0.25rem;
  content: url("/assets/_pic/arrow_left.svg");
}
a.arrow-right-before:before {
  padding-right: 0.25rem;
  content: url("/assets/_pic/arrow_right.svg");
}
a.arrow-right-after:after {
  padding-left: 0.25rem;
  content: url("/assets/_pic/arrow_right.svg");
}

a.mail-link:before {
  padding-right: 0.25rem;
  content: url("/assets/_pic/arrow_right.svg");
}

.button a { // «Buttons» sind natürlich degenerierte Links
  background: $green_a2;
  display: inline-block;
  padding: 0 0.25rem;
  border: none;
}
.button a:hover,
.button a:active,
.button a:focus {
  background: $green_a5;
}

#nav-overlay a {
  border: none;
}

/* End Links }}}1 */

/* ——————————————————————————————————  Macro Typography ————————————————————————————————————— */

/* Tests {{{1 */
.test {
 border: 1px solid lawngreen;
}
/* End Tests }}}1 */

/* Intro Page {{{1 */
.intro h1 { display: none; }

@keyframes blendy {
  0% { opacity: 1; transform: scale(1); animation-timing-function: ease-in; }
  7.7% { opacity: 1; animation-timing-function: ease-out; }
  13% { opacity: 0; transform: scale(1.05); }
  100% { opacity: 0 }
}

body.intro {
  div.container {
    width: 100vw;
    height: 100vh;
    /* center items on page */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Vertikale */
    align-items: center;     /* Horizontale*/
    ul.img {
      z-index: -3;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      height: 100vh; width: 100vw;

      /* Background Images {{{2 */
      li {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        opacity: 0;
        animation: blendy 65s linear infinite 0s; // Länge = Anzahl Bilder x 5
      }
      li:nth-child(1)  { z-index: 14; animation-delay: 0s;  background: url("../_pic/introBackgrounds/fassadeJungfernrebe@1x.jpg") no-repeat center center fixed; background-size: cover; background-origin: border-box; background-position: bottom; }
      li:nth-child(2)  { z-index: 13; animation-delay: 5s;  background: url("../_pic/introBackgrounds/ginko@1x.jpg") no-repeat center center fixed; background-size: cover; background-origin: border-box; background-position: bottom; }
      li:nth-child(3)  { z-index: 12; animation-delay: 10s;  background: url("../_pic/introBackgrounds/saal@1x.jpg") no-repeat center center fixed; background-size: cover; background-origin: border-box; background-position: bottom; }
      li:nth-child(4)  { z-index: 11; animation-delay: 15s;  background: url("../_pic/introBackgrounds/gebaeude@1x.jpg") no-repeat center center fixed; background-size: cover; background-origin: border-box; background-position: bottom; }
      li:nth-child(5)  { z-index: 10; animation-delay: 20s; background: url("../_pic/introBackgrounds/wasser@1x.jpg") no-repeat center center fixed; background-size: cover; background-origin: border-box; background-position: bottom; }
      li:nth-child(6)  { z-index: 9; animation-delay: 25s; background: url("../_pic/introBackgrounds/tatamiRaum@1x.jpg") no-repeat center center fixed; background-size: cover; background-origin: border-box; background-position: bottom; }
      li:nth-child(7)  { z-index: 8; animation-delay: 30s; background: url("../_pic/introBackgrounds/laub@1x.jpg") no-repeat center center fixed; background-size: cover; background-origin: border-box; background-position: bottom; }
      li:nth-child(8)  { z-index: 7; animation-delay: 35s; background: url("../_pic/introBackgrounds/blumenschale@1x.jpg") no-repeat center center fixed; background-size: cover; background-origin: border-box; background-position: bottom; }
      li:nth-child(9)  { z-index: 6; animation-delay: 40s; background: url("../_pic/introBackgrounds/tatamiReflexion@1x.jpg") no-repeat center center fixed; background-size: cover; background-origin: border-box; background-position: bottom; }
      li:nth-child(10)  { z-index: 5; animation-delay: 45s; background: url("../_pic/introBackgrounds/patio@1x.jpg") no-repeat center center fixed; background-size: cover; background-origin: border-box; background-position: bottom; }
      li:nth-child(11) { z-index: 4; animation-delay: 50s; background: url("../_pic/introBackgrounds/schattenMauer@1x.jpg") no-repeat center center fixed; background-size: cover; background-origin: border-box; background-position: bottom; }
      li:nth-child(12) { z-index: 3; animation-delay: 55s; background: url("../_pic/introBackgrounds/blatt@1x.jpg") no-repeat center center fixed; background-size: cover; background-origin: border-box; background-position: bottom; }
      li:nth-child(13) { z-index: 2; animation-delay: 60s; background: url("../_pic/introBackgrounds/mammutbaumkrone@1x.jpg") no-repeat center center fixed; background-size: cover; background-origin: border-box; background-position: bottom; }
      // li:nth-child(14) { z-index: 1; animation-delay: 65s; background: url("../_pic/introBackgrounds/seeReflexion@1x.jpg") no-repeat center center fixed; background-size: cover; background-origin: border-box; background-position: bottom; }
    }                                                                                                            
    /* End Background Images }}}2 */

    #seeschau-container {
      transform: scale(2);
    }                                                                 
    #byline-container {                                                                                          
      margin-top: 2em;                                                                                          ;
      color: white;
      font-size: 2rem; 
      font-weight: 500; 
      letter-spacing: 0.3rem;
    }
    svg {
      background: transparent;
      fill: white;
    }
  }
}

/* End Intro Page }}}1 */

/* Layout Header {{{1 */

nav#nav-overlay { display: none; } // Overlay ausblenden

header {
  background: $white;
  margin: 0; padding: 0;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 9999;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
  #hamburger { display: none; } // no hamburger on desktop
  #masthead {
    height: 28rem; /* Variable wud b nice <—————————————————————————————————————————*/
    /* collapse-transition */
    transition: all 0.3s ease-out;
    /* end collapse-transition */
    padding: 1.5rem 1.5rem 2.5rem 2rem;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    h1, p {
      margin: 0;
      /* collapse transition */
      transition: all 0.3s linear;
      /* end collapse transition */
    }
  }
  nav {
    padding: 0.5rem 2rem;
    ul {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      li a {
        // display: inline-block;
        text-align:center;
      }
      // prevent shaky text alignment on hover
      // problem: differing width when bold
      // https://stackoverflow.com/questions/556153/inline-elements-shifting-when-made-bold-on-hover
      li a:after {
        display: block;
        content: attr(title);
        font-weight: 900;
        height: 0;
        overflow: hidden;
        visibility: hidden;
      }
    }
  }
}

header.shrink { /* collapsed header */
  #masthead {
    min-height: 0;
    height: 7.8rem; /* Variable wud b nice <———————————————————————————————————— */
    width: 100%;
    padding: 0 0 0 2rem;
    overflow: hidden; /* children have no influence on height */
  }
  h1, p {
    opacity: 0;
    transform: translateY(-200px);
  }
}

header.mini { // footer visible, see JS helpers
  #masthead { height: 0; } 
}
/* End Layout Header }}}1 */

/* Background Images per Page {{{1 */

#masthead {
  background-image: url("../_pic/mastheadBackgrounds/fassadeJungfernrebe@1x.jpg");
  background-position: bottom ;
}

.team header #masthead {
  background-image: url("../_pic/mastheadBackgrounds/ginkoTop@1x.jpg");
  background-position: center;
}
.team #nav-overlay #masthead,
.team footer #masthead { background-image: url("../_pic/mastheadBackgrounds/ginkoBottom@1x.jpg"); }

.workshops #nav-overlay #masthead,
.workshops header #masthead,
.workshops footer #masthead {
  background-image: url("../_pic/mastheadBackgrounds/mammutbaumkrone@1x.jpg");
  background-position: center ;
}
// .workshops footer #masthead { background-image: url("../_pic/mastheadBackgrounds/ginkobaumkrone@1x.jpg"); }

.yoga #nav-overlay #masthead,
.yoga #masthead {
  background-image: url("../_pic/mastheadBackgrounds/tatamiRaum@1x.jpg");
  background-position: center ;
}

.calendar header #masthead {
  background-image: url("../_pic/mastheadBackgrounds/patio@1x.jpg");
  background-position: bottom ;
}
.calendar #nav-overlay #masthead,
.calendar footer #masthead { background-image: url("../_pic/mastheadBackgrounds/steingarten@1x.jpg"); }

.info header #masthead {
  background-image: url("../_pic/mastheadBackgrounds/wasserDunkel@1x.jpg");
  background-position: center;
}
.info #nav-overlay #masthead,
.info footer #masthead {
  background-image: url("../_pic/mastheadBackgrounds/wasserHell@1x.jpg");
}

.music-and-voice #nav-overlay #masthead,
.music-and-voice #masthead {
  background-image: url("../_pic/mastheadBackgrounds/instrumente@1x.jpg");
  background-position: center;
}
// .class #masthead { background-image: url(""); }

/*
../_pic/mastheadBackgrounds/blaetterSchattenTextil@1x.png 
../_pic/mastheadBackgrounds/tatamiRaum@1x.png
*/

/* End Background Images per Page }}}1 */

/* Layout Main {{{1 */
main {
  width: 65rem;
  margin: 0 auto;
  padding: 30.5rem 0 0; 
  h2 {
    text-align: center;
    margin: 0 0 1rem;
  }
  h2:nth-child(n+2) {
    // margin-top: 4rem; // too much
  }

  a.anchor { /* Fix jump to anchor relative to header/masthead */
    // https://stackoverflow.com/questions/10732690/offsetting-an-html-anchor-to-adjust-for-fixed-header
    display: block;
    position: relative;
    top: -13rem; //  Variable wud b nice <———————————————————————————————————— ;
    visibility: hidden;
  }
  /* Sections allgemein {{{2 */
  section {
    background: $white;
    outline: none;
    border-bottom: solid 1px $linegray;
    padding-bottom: 2.5rem;
    margin: 0 auto;
    h3 {
      margin: 0 0 1.75rem 0;
    }
  }
  /* End Sections Allgemein }}}2 */

  /* News Page {{{2 */

  /* News Sections {{{3 */
  section.news {
    border: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 2.25rem;
    grid-row-gap: 2.5rem;
    div.news-item {
      h3 {
        font-size: 2rem;
        line-height: 1.2;
        font-weight: 500;
      }
      p {
        margin-bottom: 0.5rem;
      }
    }
  }
  /* End News Sections }}}3 */
  /* Video Sections {{{3 */
  section.videos {
    border: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2.25rem;
    grid-row-gap: 2.5rem;
    div.video-item { // https://css-tricks.com/NetMag/FluidWidthVideo/Article-FluidWidthVideo.php
      position: relative;
      height: 0;
      padding-top: 25px;
      padding-bottom: 56.25%; /* 16:9 */
      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
      img {
        width: 100%;
        height: auto;
      }
      div.video-placeholder {
        height: 282px;
        width: 502px;
        background: red;
      }
    }
  }
  /* End Video Sections }}}3 */
  div#more-news {
    grid-column: 1/-1;
    justify-self: center;
    background: $green_a2;
    margin: 0;
    padding: 0 0.25rem;
    p { 
      line-height: 1.3;
      margin: 0
    }
  }
  div#more-news p:before {
    content: url('/assets/_pic/plus.svg');
    padding-right: 0.25rem;
  }
  /* End News Page }}}2 */

  /* Accordion {{{2 */

  /* Accordion Sections {{{3 */
  section.visible {
    border: none;
    border-top: 1px solid $linegray;
    margin-bottom: 0;
    padding-bottom: 0;
    padding-top: 1.75rem;

    /* Visible Workshop Infos {{{4 */
    .workshop-infos {
      margin-bottom: 1.75rem;
      // border: solid $linegreen 1px;
      p { margin-bottom: 0;}
    }
    /* End Visible Workshop Infos }}}4 */

  }
  section.visible:first-child {
    border: none;
    padding-top: 0;
  }
  section.collapsed { // untere linie & abstand weg, wegen akkordeon-struktur
    border: none;
    padding-bottom: 0;
  }
  /* End Accordion Sections }}}3 */

  /* Accordion Trigger {{{3 */
  .accordion-trigger,
  .accordion-collapse { // better be a button
    text-align: center;
    span {
      display: inline-block;
      padding: 0 0.5rem;
      background: $green_a2;
      cursor: pointer;
      user-select: none;
    }
    span:hover { background: $green_a5; }
  }
  .accordion-trigger span:before {
   content: url("/assets/_pic/plus.svg"); 
   padding-right: 0.25rem;
  }
  .accordion-collapse span:before {
   content: url("/assets/_pic/minus.svg"); 
   padding-right: 0.25rem;
  }
  /* End Accordion Trigger }}}3 */

  /* End Accordion }}}2 */

  /* Grid for Team & Workshops {{{2 */
  section.raster {
    display: grid;
    grid-template-columns: 320px 1fr;
    grid-column-gap: 2rem;
    border: none;
    .raster-bildfeld {
      grid-column: 1/2;
      grid-row: 2; // 1 ist der Ankerlink
      img {
        width: 320px;
        height: auto;
      }
    }
    div.raster-textfeld { 
      grid-column: 2/3;
      grid-row: 2;
      section {
        border: none; // wegen Akkordeon zus. Section :-(
        margin: 0;
        padding: 0;
        .accordion-trigger { text-align: left; }
        .accordion-collapse { text-align: left; }
      }
    }
  }
  section.raster:nth-child(odd) { // change order of columns in every other row
    grid-template-columns: 1fr 320px;
    .raster-bildfeld { grid-column: 2/3; }
    div.raster-textfeld {
      grid-column: 1/2;
    }
    div.raster-textfeld.foo { // können wir bitte auf die Klasse "foo" verzichten und einen gescheiten Namen finden?
      grid-column: 1/-1;
    }
  }
  /* End Grid for Team & Workshops }}}2 */

  /* Einspaltige Layouts (Kontakt, Angebote {{{2 */
  section.intro-text {
    width: 46rem;
    // border: none;
    padding-bottom: 0;
    margin-bottom: 1.75rem;
  }

  section.contact,
  section.anreise-infos,
  section.abo-infos,
  section.angebote {
    width: 46rem; /* schmaler als Seiten mit Bildern */
    margin: 0 auto;
  }
  section.contact {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
  }
  section#map {
    iframe {
      width: 100%;
    }
  }
  section.abo-infos { padding-bottom: 0; }
  section.abo-infos:last-child { border: none; }
  .abo-infos > h4 { // betrifft Untertitel in Abo-Section auf Infoseite
    margin-top: 1.25rem;
  }
  /* End Einspaltige Layouts (Kontakt, Angebote) }}}2 */

  /* Calendar Styles {{{2 */
  section#cal-head {
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 2rem;
    padding-bottom: 0;
    background: transparent;
    h3 {
      line-height: 1;
      order: 2;
      display: inline-block;
      margin: 0;
    }
    #prev-month { order: 1; }
    #next-month { order: 3; }
  }

  section#calendar { // Calendar Layout
    border: none;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    // grid-template-rows: 13.125rem 10.625rem 10.625rem 10.625rem 10.625rem ;
    grid-template-rows: repeat(5, auto);

    div.cal-case:nth-child(0n+7){ // Höhe erste Reihe (+ Wochentage)
      // min-height: 13.125rem;
    }

    div.cal-case {
      // min-height: 10.625rem;
      display: grid;
      grid-template-columns: 1fr;
      border-right: 1px solid $linegreen;
      border-bottom: 1px solid $linegreen;

      div.weekday {
        visibility: hidden;
        display: none;
        text-align: center;
        font-size: 1.25rem;
        line-height: 1.9;
      }
      div.weekday-mobile { display: none; } // Abgekürzte Wochentage, nur auf Mobile

      div.day_cell {
        // min-height: 10.625rem; // notwendig für Einfärbung Zellen: today & out of range
        div.date {
          padding: 0.25rem 0.5rem;
          text-align: right;
        }

        /* Single Event in Calendar {{{3 */
        div.event {
          padding: 0 0.25rem;
          margin-bottom: 0.25rem;
          font-weight: 600; // sollte unter Micro-Typography stehen :-/
          span.calendar-color {
            display: inline-block;
            width: 0.875rem;
            height: 0.875rem;
            border-radius: 0.4375rem;
            position: relative;
            top: 0.1rem;
            background: $green_a75;
          }
          a.trigger {
            color: $black;
            text-decoration: none;
            border: none;
            cursor: pointer;
            background: transparent;
          }

          /* Q-Tip {{{4 */
          div.qtip {
            width: 10.5rem;
            border: 1px solid $green;
            background: $white;
            visibility: visible;
            box-shadow: 2px 2px 4px 0 rgba(0,0,0,0.50);
            position: relative;
            padding: 0.25rem 0.5rem;
            p {
              margin-bottom: 0.25rem;
            }
          }
          div.qtip:after, div.qtip:before {
            bottom: 100%;
            left: 50%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
          }
          div.qtip:after {
            border-color: transparent;
            border-bottom-color: $white;
            border-width: 12px;
            margin-left: -12px;
          }
          div.qtip:before {
            border-color: transparent; 
            border-bottom-color: $green;
            border-width: 13px;
            margin-left: -13px;
          }
          div.hidden { visibility: hidden; }
          /* End Q-Tip }}}4 */
        }
        .all_day { background: $lavender; }
        .holiday { background: whitesmoke; }
        /* End Single Event in Calendar }}}3 */

      }

      div.today {
        background: $green_a25;
        .all_day {
          background: $lavender_75;
        }
        div.event span.calendar-color {
          background: $green;
        }
      }

      div.out_of_range {
        background: $green_a05;
        div.event a.trigger {
          color: #666;
        }
      }
    } // end div.cal-case

    div.cal-case:nth-child(7n+1) { // Farbe der Kalenderlinien
      border-left: 1px solid $linegreen;
    }
    div.cal-case:nth-child(-n+7) { // die ersten 7 (oberste Zeile)
      grid-template-rows: 2.5rem auto; // höhe der Wochentage festlegen
      border-top: 1px solid $linegreen;
      div.weekday { // in Desktop Viewport sichtbare Tagesnamen
        visibility: visible;
        display: block;
        border-bottom: 1px solid $linegreen;
      }
    }
  } // end section#calendar
  /* End Calendar Styles }}}2 */

  /* Table Styles {{{2*/
  table {
    border-collapse: collapse;
    margin: 0 0 1.75em;
  }
  th, td {
    border: 1px solid $linegray; 
    padding: 0.3rem 0.5rem;
    text-align: left;
  }

  th {
    color: hsl(210, 100%, 80%);
    border-bottom: 1px solid $linegreen; 
    font-variant-numeric: tabular-nums;
  }
  /* End Table Styles }}}2*/

}

body.team main section.raster div.raster-textfeld h3 { margin: 0; } // Ausnahme für Team

/* End Layout Main }}}1 */

/* Layout Footer {{{1 */

footer {
  margin-top: 4em;
  z-index: 9750;

  /* Footer Social Media Buttons */
  #social-media-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;
    svg { }
  }
  /* End Footer Social Media Buttons */

  /* Footer Info Container */
  #infos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    /* Footer Info Items */
    p { 
      white-space: nowrap;
      margin-right: 1em;
    }
    p:last-child {margin-right: 0; }
  }

  #masthead { /* Background-Image and Logotype in Footer */
    height: 28rem;
    margin-top: 1rem;
    padding: 1.5rem 1.5rem 2.5rem 2rem;
    display: flex;
    flex-direction: column-reverse;
    align-content: flex-start;
    /* Text on Footer Image */
    h1, p { color: white; margin: 0; line-height: 1;}
    h1 { 
      font-size: 6.25rem;
      order: 2; /* Starts below, higher number means higher up on Y-Axis */
    }
  }
}
/* End Layout Footer }}}1 */

/* Masthead Styles Header & Footer {{{1 */

#masthead {
  background-origin: border-box;
  background-size: cover;
  a { // Link to home
    text-decoration: none;
    color: white;
  }
}

/* End Masthead Styles Global }}}1 */

/* ——————————————————— Laptop- & Mobile-Styles —————————————————— */

/* Latop-Styles {{{1 */

// Dieser Breakpoint dient eher der Kosmetik. Es geht darum, den sichtbaren
// Bereich besser auszunutzen (im ursprünglichen Design wurden Menüleiste,
// Browser-Chrome und Apple-Dock nicht eingeplant)

@media (max-width: 1440px) { // Apple 15" Laptop

  /* Header & Footer {{{2 */
  header #masthead,
  footer #masthead {
    height: 19.5rem;
    h1 {
      font-size: 5rem;
    }
    p {
      font-size: 1.625rem;
      letter-spacing: 0.275rem;
    }
  }
    /* End Header & Footer }}}2 */

    /* Main {{{2 */
    main {
      padding: 22.5rem 0 0;
      h2 {
        font-size: 5rem;
      }
    }
    /* End Main }}}2 */

  }

  /* Latop-Styles }}}1 */

  /* Mobile Styles {{{1 */
  @media (max-width: 600px) {

    /* Intro-Animation {{{2 */
    body.intro {
      div.container {
        #seeschau-container,
        #byline-container {
          position: relative;
          top: -2.5rem;
        }
        #seeschau-container {
          transform: scale(.5);
          white-space: nowrap;
        }
        #byline-container {
          margin-top: 0; 
          p {
            font-size: 1rem;
            letter-spacing: 0.2rem;
          }
        }
      }
    }
    /* End Intro-Animation }}}2 */

    /* Layout Header {{{2 */
    header {
      nav { display: none; } // hide Navigation
      #masthead {
        height: 4.75rem;
        padding: 0.25rem 1rem;
        h1 { font-size: 2.45rem; }
        p {
          font-size: 0.8125rem;
          letter-spacing: 0.125rem;
        }
      }
      #hamburger {
        position: absolute;
        display: block;
        top: 1rem;
        right: 1rem;
        transform: scale(0.75);
        transform-origin: top right;
        transition: all .3s ease-in;
      }
      #hamburger:hover { transform: scale(1.1); }
    }
    /* End Layout Header }}}2 */

    /* Layout Collapsed Header {{{2 */
    header.shrink { // keine Änderung bei Scroll
      #masthead {
        height: 4.75rem;
        padding: 0.25rem 1rem;
      }
      h1, p {
        opacity: 1;
        transform: translateY(0);
      }
    }
    /* End Layout Collapsed Header }}}2 */

    /* Navigation Overlay {{{2 */
    #nav-overlay {
      padding: 0;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      right: 0;
      height: 100vh; // zusätzlich wärs gut, scrollen zu unterbinden, solange overlay sichtbar
      // transform: translateY(-100vh);
      transition: all .2s ease-in;
      background: $white;
      z-index: 9500;
      display: none;
      font-size: 1.5rem;
      // padding: 20rem 1rem 0 2rem;
      animation: foo .2s ease-in; // bringts nicht so, weil nur in eine Richtung möglich

      /* Menü Style {{{3 */
      ul {
        margin: 6rem 0 0;
        padding: 0 1rem 1rem 1rem;
        height: 100%; 
        justify-content: space-between; 
        display: flex; 
        flex-direction: column;
      }
      #overlay-footer {
        // position: absolute;
        // bottom: 0;
      }
      /* End Menü Style }}}3 */
      #social-media-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;
}
    }
    /*
    #nav-footer {
      div#infos {
        margin: 2rem 1rem 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 0 2rem;
        grid-template-rows: repeat(4, 2rem);
        grid-auto-flow: column;
      }
    }
    #masthead {
      height: 4.75rem;
      padding: 0.25rem 0.5rem;
      h1 {
        font-size: 2.625rem;
        font-family: $francisGradientLeft; 
      }
      p {
        font-size: 0.8125rem;
        letter-spacing: 0.125rem;
      }
    }
    */
    #nav-overlay.visible {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    /* Navigation Overlay }}}2 */

    /* Layout Main {{{2 */
    main {
      width: 100%;
      padding: 5rem 1rem 1rem;

      /* Main Micro Typography {{{3 */
      h2 { // Seitenüberschriften
        font-size: 2.625rem;
        line-height: 1.1;
        text-align: left;
        margin: 0 0 0.8125rem 0;
      }
      h2:not(:first-of-type) { // Alle zusätzlichen h2 Überschriften auf News und Info
        margin-top: 1.75rem;
      }
      section h3, p.teacher-quote {
        font-size: 1.25rem;
        margin-bottom: 0.8125rem;
      }
      section.contact h3,
      section.abo-infos h3,
      section.angebote h3 { margin-bottom: 0.8125rem; }
      h4, p, ul, ol {
        font-size: 0.9375rem;
        line-height: 1.4;
      }
      p, p.teacher-quote ul {
        margin-bottom: 0.8125rem;
      }
      p.accordion-trigger,
      p.accordion-collapse {
        text-align: left;
      }
      /* End Main Micro Typography }}}3 */

      /* Mobile News Page {{{3 */
      section.news {
        width: 100%;
        margin-bottom: 0;
        grid-template-columns: 1fr;
        grid-row-gap: 2rem;
        div.news-item:nth-child(n+4) { // nur 3 items einblenden
          display: none;
        }
        div.news-item {
          h3 {
            font-size: 2rem;
            margin-bottom: 0.25rem;
          }
          p {
            margin-bottom: 0.125rem;
          }
        }
        img {
          width: 100%;
          height: auto;
        }
      }
      section.videos {
        border: none;
        display: grid;
        grid-template-columns: 1fr;
        grid-column-gap: 2.25rem;
        grid-row-gap: .5rem;
        margin-bottom: 0;
        padding-bottom: 0;
      }
      div#more-news {
        grid-column: 1/-1;
        justify-self: center;
        background: $green_a2;
        margin: 0;
        padding: 0 0.25rem;
        p { 
          font-size: 1rem;
          line-height: 1.3;
          margin: 0
        }
      }
      /* Mobile News Page }}}3 */

      /* Mobile Calendar Layout {{{3 */
      section#cal-head {
        flex-wrap: wrap;
        margin: 1rem 0;
        h3 {
          margin-bottom: 0.5rem;
          width: 100%;
          order: 1;
        }
        #prev-month,  #next-month { font-size: 0.9375rem; }
        #prev-month { order: 2; }
        #next-month { order: 3; }
      }
      section#calendar {
        div.cal-case div.weekday,
        div.cal-case:nth-child(-n+7) div.weekday { display: none } // ausgeschriebene Wochentage ausblenden
        div.cal-case:nth-child(7n+1) { border-left: none; border-top: none; }
        div.cal-case:nth-child(-n+7) {
          border-top: none;
          grid-template-rows: auto; // höhe der Wochentage festlegen
        }
        display: block; // Grid deaktivieren, alles untereinander
        border-left: 1px solid $linegreen; // Linie um den ganzen Kalender
        border-top: 1px solid $linegreen;
        border-bottom: none;
        padding-bottom: 0;
        div.cal-case {
          grid-template-columns: 2.25rem 1fr;
          grid-template-rows: auto;
          div.weekday-mobile {
            display: block;
            grid-column: 1/2;
            text-transform: uppercase;
            letter-spacing: 0.025rem;
            border-right: 1px solid $linegreen;
            padding: 0.25rem 0.3rem;
          }
          div.day_cell {
            grid-column: 2/3;
            display: grid;
            grid-template-columns: 1rem 1fr;
            grid-gap: 0 0.5rem;
            min-height: auto;
            height: auto;
            padding: 0.25rem 0 0.15rem 0.3rem ;
            div.date {
              padding: 0;
              grid-column: 1/2;
            }
            div.event {
              grid-column: 2/3;
              span.calendar-color {
                position: relative; 
                left: -0.25rem;
              }
              div.qtip { // popover on mobile
                width: auto;
              }
            }
          }
        }
        div.cal-case:nth-child(n) { min-height: 0; height: auto; } // unset height of all cells
      }
      /* End Mobile Calendar Layout }}}3 */

      a.anchor {
        top: -6rem;
      }
      section {
        margin-bottom: 0.8125rem;
        padding: 0;
      }
      section.visible {
        padding-top: 0.8125rem;
      }
      section.intro-text {
        margin-bottom: 0.8125rem;
      }

      /* Mobile Single Column Pages {{{3 */
      section.intro-text,
      section.contact,
      section.angebote,
      section.abo-infos,
      section.anreise-infos { // should be ONE class to rule them all
        width: 100%;
        // Achtung. in Yoga-Template gibt es hard-coded section-width!!!
      }
      /* End Mobile Single Column Pages }}}3 */

      /* Mobile Two Column Pages {{{3 */
      section.raster {
        display: block; // Schluss mit Grid
        border-bottom: none;
        padding: 0;
        margin-bottom: 2.5rem;
        .raster-bildfeld {
          margin-bottom: 0.5rem;
          img { width: 100%; }
        }

        /* Visible Workshop Infos {{{4 */
        .workshop-infos {
          margin-bottom: 0.8125rem;
          p { margin-bottom: 0;}
        }
        /* End Visible Workshop Infos }}}4 */

      }
      /* End Two Single Column Pages }}}3 */

    }
    section.abo-infos > h4 { // betrifft Untertitel in Abo-Section auf Infoseite // doppelt drin
      margin-top: 0.8125rem;
    }
    /* End Layout Mobile Main }}}2 */

    /* Layout Mobile Footer {{{2 */
    footer,
    #overlay-footer {
      width: 100%;
      margin-top: 2rem;
      div#infos {
        margin: 2rem 1rem 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 0 2rem;
        grid-template-rows: repeat(4, 2rem);
        grid-auto-flow: column;
        font-size: 15px;
      }
      #masthead {
        height: 4.75rem;
        padding: 0.25rem 0.5rem;
        h1 {
          font-size: 2.625rem;
          font-family: $francisGradientLeft; 
          line-height: 1;
          margin-bottom: 0;
        }
        p {
          color: white;
          font-size: 0.8125rem;
          letter-spacing: 0.125rem;
          font-weight: 500;
        }
      }
    }
    /* positioning of #overlay-footer in overlay-styles */

    /* End Layout Mobile Footer }}}2*/

  }
  /* End Mobile Styles }}}1 */

  /* Keyframes Nav-Overlay {{{1 */
  @keyframes foo {
    from { transform: translateY(3rem); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
  }
  /* End Keyframes Nav-Overlay }}}1 */

  /* The End */
