{% extends "_layout.html" %}

{# extends "calendar-demo/layouts/_layout.html" #}
{% set pageTitle = "Month" %}
{% set page = "month" %}

{% block content %}
<h2>Calendar</h2>

{# 
  Default Solspace Calendar Routes
  calendar/month/{year}/{month}                 —> /calendar
  calendar/month/calendar/{slug}                —> /calendar
  calendar/month/calendar/{slug}/{year}/{month} —> /calendar

  My Routes
  calendar/
  calendar/{year}/{month}
#}

{# Acquire URL segments #}
{% set baseUrlSegments = 0 %}{# default ist 1, aber bei mir fehlt "month" in der url #}
{% set segment1 = craft.app.request.segment(baseUrlSegments + 1) %}
{% set segment2 = craft.app.request.segment(baseUrlSegments + 2) %}
{% set segment3 = craft.app.request.segment(baseUrlSegments + 3) %}
{% set segment4 = craft.app.request.segment(baseUrlSegments + 4) %}{# Wahrsch. unnötig, ausser Kalender wir bestimmt #}

{% set targetDate = "today" %}
{% set calendarHandle = null %}

{% if segment2 is not empty %}
  {% set targetDate = segment2~"-"~segment3~"-01" %}{# Jahr und Monat aus URL beziehen #}
{% endif %}

{% set month = craft.calendar.month({
    date: targetDate,
    calendar: calendarHandle,
}) %}

{#
<div style="border: solid lawngreen 12px; padding: 1rem; position: fixed; bottom: 0; left: 10%; background: white; z-index: 10;">
  <h3>Debug</h3>
  <p>baseURL: {{ craft.app.request.segment(1) }}</p>
  <ul>
    <li>Segment 1: {{ segment1 }}</li>
    <li>Segment 2: {{ segment2 }}</li>
    <li>Segment 3: {{ segment3 }}</li>
    <li>Segment 4: {{ segment4 }}</li>
  </ul>
</div>
#}

<section id="cal-head">
  <h3>{{ month.date.format('F')|t }}&nbsp;{{ month.date.format('Y') }}</h3>
  <div id="prev-month" class="button">
    <a class="arrow-left-before" href="{{ siteUrl }}calendar/{{ month.previousDate.format('Y/m') }}">
      {{ month.previousDate.format('F')|t }}{# das müssten wir jetzt noch übersetzen >____< #}
    </a>
  </div>
  <div id="next-month" class="button">
    <a class="arrow-right-after" href="{{ siteUrl }}calendar/{{ month.nextDate.format('Y/m') }}">
      {{ month.nextDate.format('F')|t }}{# und auch das müssten wir jetzt noch übersetzen >____< #}
    </a>
  </div>
</section>

<section id="calendar">
  {% for week in month %}
    {% for day in week %}
    <div class="cal-case">
        <div class="weekday">{{ day.date.format('l')|t }}</div> {# hide this on mobile #}
        <div class="weekday-mobile">{{ day.date.format('D')|t }}</div> {# hide this on desktop #}
        {% if month.containsDate(day.date) %}
        {# Tage des Monats ohne jene des vorhergehenden/nachfolgenden Monats #}
        <div class="day_cell{{ day.date.isToday ? " today" }}">
      <div class="date{{ day.eventCount ? " has_events" }}">
        {{ day.date.format('j') }} {# Datum, der wievielte #}
          {#</a>#}
      </div>
        {% else %}
        <div class="day_cell out_of_range"> {# vorhergehender monat und beginn folgemonat #}
      <div class="date">
        <span class="num">
            {{ day.date.format('j') }}
        </span>
      </div>
        {% endif %}

        {# are there events in the holiday-calendar' #}
        {% set holidays = false %}
        {% for event in day.events %}
          {% if event.calendar == "Ferien" %}
            {% set holidays = true %}
          {% endif %}
        {% endfor %}
        {# end holiday check #}
        
        {% if holidays %}
          {% for event in day.events %}
            {% if event.calendar == "Ferien" %}
              {% include "calendar/_holidayEvent.html" %}
            {% endif %}
          {% endfor %}
        {% else if event.calendar == "Workshops" %}
          {% include "calenar/_workshopEvent.html" %}
        {% else %}
          {% for event in day.events %}
            {% include "calendar/_event.html" %}
          {% endfor %}
        {% endif %}

        </div>
        </div>
    {% endfor %}
  {% endfor %}
</section>

{% endblock %}
