{# Einzelner Event in der Monatsansicht #}
{% set classes = "" %}
{% set classes = classes ~ (event.allDay ? " all_day") %}
{% if event.multiDay %}
    {% set classes = classes ~ " multi_day" %}
    {% set classes = classes ~ (day.containsDate(event.startDate) ? " first_day") %}
    {% set classes = classes ~ (day.containsDate(event.endDate) ? " last_day") %}
{% endif %}

{#
{% set style = "" %}
{% if event.multiDay or event.allDay %}
    {% set style %}
        style="background-color: {{ event.calendar.lighterColor }} !important;
               border-color: {{ event.calendar.color }} !important;"
    {% endset %}
{% endif %}
#}

<!-- Ab hier Titel/Link Event -->

{# Prüfen, ob ein wiederholt stattfindender Event heute ausfällt #}
{% set ausfall = false %}
{% if event.repeating %}
  {% for exception in event.exceptions %}
    {% if day.date.day == exception.date.day %}
      {% if day.date.month == exception.date.month %}
        {% set ausfall = true %}
        <!--  {{ event.title}} fällt aus. <br>
        Grund: Heute (der {{ day.date.day }}.) ist gleich Ausfalltag ({{ exception.date.day }}).
        UND: Dieser Monat ({{ day.date.month }}) ist gleich Monat des Ausfalltages ({{ exception.date.month }}). 
        -->
      {% endif %}
    {% endif %}
  {% endfor %}
{% endif %}

{% if not ausfall %}
<div class="event tips{{ classes }} {{ event.calendar|lower| replace({ 'ä': 'ae' }) }}"{# style #} data-toggle="popover">
    {# if event.multiDay #}
    {% if event.calendar == "Workshops" %} {# kein grüner Tolggen #}
        <a class="trigger" href="">
            {% autoescape false %}
                {#{{ day.containsDate(event.startDate) or day.containsDate(event.endDate) ? event.title : "&nbsp;"|raw }}#}
                {{ event.title }}
            {% endautoescape %}
        </a>
    {% else %}
        {# if not event.allDay #}
        {% if event.calendar != "Workshops" %}
            <span class="calendar-color {{ event.calendar|lower| replace({ 'ä': 'ae' }) }}"></span>{# styled in Stylesheet #}
        {% endif %}
        <a class="trigger" href="" {% if event.allDay %}{# Gibt es diesen Fall? #}{% endif %}>
            {{ event.title }}
        </a>
    {% endif %}

    {% include "calendar/_event_popover.html" %}
</div>
{% endif %}

<!-- Bis hier Titel/Link Event -->
