{# Einzelner Event in der Monatsansicht #}
{% set classes = "" %}
{% set classes = classes ~ (event.allDay ? " all_day") %}
{% if event.multiDay %}
    {% set classes = classes ~ " multi_day" %}
    {% set classes = classes ~ (day.containsDate(event.startDate) ? " first_day") %}
    {% set classes = classes ~ (day.containsDate(event.endDate) ? " last_day") %}
{% endif %}

{#
{% set style = "" %}
{% if event.multiDay or event.allDay %}
    {% set style %}
        style="background-color: {{ event.calendar.lighterColor }} !important;
               border-color: {{ event.calendar.color }} !important;"
    {% endset %}
{% endif %}
#}

{# Prüfen, ob ein wiederholt stattfindender Event heute ausfällt #}
{% set ausfall = false %}
{% if event.repeating %}
  {% for exception in event.exceptions %}
    {% if day.date.day == exception.date.day %}
      {% set ausfall = true %}
    {% endif %}
  {% endfor %}
{% endif %}

<div class="event tips{{ classes }}"{# style #} data-toggle="popover">
    {% if event.multiDay %}
        <a class="trigger" href="">
            {% autoescape false %}
                {{ day.containsDate(event.startDate) or day.containsDate(event.endDate) ? event.title : "&nbsp;"|raw }}
            {% endautoescape %}
        </a>
    {% else %}
        {% if not event.allDay %}
            <span class="calendar-color"></span>{# styled in Stylesheet #}
        {% endif %}
        <a class="trigger{% if ausfall %} ausfall{% endif %}" href="" {% if event.allDay %}{# Gibt es diesen Fall? #}{% endif %}>
            {{ event.title }}
        </a>
    {% endif %}
    {# if event.teacherselection #}
    {# for teacher in event.teacherselection #}
      {# <br> #}
      {# hier natürlich zählen ob eins oder mehr, oder braucht es immer nur einen Lehrer? #}
      {# Teacher: {{ teacher }} #}
      {# endfor #}
    {# endif #}

    {% include "calendar/_event_popover.html" %}
{#<p style="display:inline-block;">{{event.teacher}}</p>#}
</div>
