{# Der Einblender in der Monatsansicht #}
<div class="qtip hidden">

  <svg class="close-popover" width="16px" height="16px" viewBox="0 0 14 14" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g id="Artboard">
              <g id="closeButton">
                  <circle id="Oval" fill="#83EBD1" fill-rule="nonzero" cx="7" cy="7" r="7"></circle>
                  <path d="M7.023,7.87001563 L4.286,10.6300156 L3.389,9.71001563 C4.286,8.81301562 5.183,7.89301563 6.126,6.97301563 C5.206,6.05301563 4.309,5.17901562 3.435,4.28201562 L4.309,3.38501563 L7,6.09901562 L9.668,3.40801563 L10.565,4.32801563 C9.668,5.20201562 8.794,6.09901562 7.92,6.99601563 L10.588,9.68701563 L9.714,10.5610156 L7.023,7.87001563 Z" id="×" fill="#000000"></path>
              </g>
          </g>
      </g>
  </svg>

  {% if event.calendar == "Ausfälle" %}
    <p>Fällt aus.</p>
	{% else %}

    {% set has_teacher = false %}
      {% if event.lehrpersonen|length or event.extTeachers|length  %}
    {% set has_teacher = true %}
  {% endif %}

		{% if event.angebot|length or has_teacher %} {# ist das überhaupt nötig??? #}

      {# Mit Eintrag verbundenes Angebot #}
      {% if event.angebot|length %}
        {% set url = event.angebot[0].url|split('\/') %}
        <p><strong><a href="/{{ url[3] }}#{{ url[4] }}">{{ event.angebot[0].title }}</a></strong></p>
      {% endif %}
      {# End mit Eintrag verbundenes Angebot #}

      {# Duration #}
      {% if event.duration|length %}
        <p class='event_time'>
        {% if event.allDay %}
          Ganztägig
          {% if event.duration.days > 1 %}
              ({{ event.duration.days }} Tage)
          {% endif %}
        {% else %}
          {% if event.multiDay %}
              {% if day.containsDate(event.startDate) %}
            Beginn {{ event.startDate.format('g:ia') }}
              {% elseif day.containsDate(event.endDate) %}
            Ende {{ event.endDate.format('g:ia') }}
              {% else %}
            Ganztägig
              {% endif %}
              ({{ event.duration.days }} Tage)
          {% else %} {# von–bis #}
              {{ event.startDate.format('G:i') }}—{{ event.endDate.format('G:i') }} Uhr
              {#({{ event.duration.humanReadable }})#}
          {% endif %}
        {% endif %}
        </p>
      {% endif %}
      {# End Duration #}

      {% set teacherNames = [] %}
      {% set teacherLinks = [] %} 

      {% if event.extTeachers|length %}
        {% for teacher in event.extTeachers %}
          {% set teacherNames = teacherNames|merge([teacher.tname]) %}
          {% set teacherLinks = teacherLinks|merge([teacher.tlink]) %}
        {% endfor %}
      {% endif %}

      {% if event.lehrpersonen|length %}
        {% for teacher in event.lehrpersonen %}
          {% set teacherNames = teacherNames|merge([teacher.title]) %}
          {% set teacherLinks = teacherLinks|merge([teacher.url]) %}
        {% endfor %}
      {% endif %}
      
			{# Lehrer #}
			{% if teacherNames|length %}
				{% if teacherNames|length > 1 %}
					<ul>
					{% for i in 0..(teacherNames|length - 1) %}
						<li>{% if teacherLinks[i]|length %}<a href="{{ teacherLinks[i] }}">{% endif %}{{ teacherNames[i] }}{% if teacherLinks[i]|length %}</a>{% endif %}</li>
					{% endfor %}
					</ul>
				{% else %}
          {#<p><a href="{{ event.lehrpersonen[0].url }}">{{ event.lehrpersonen[0] }}</a></p>#}
						<p>{% if teacherLinks[0]|length %}<a href="{{ teacherLinks[0] }}">{% endif %}{{ teacherNames[0] }}{% if teacherLinks[0]|length %}</a>{% endif %}</p>
				{% endif %}
			{% endif %}

		{% else %}
      {# weder link zu angebot noch lehrer #}
			<p>Noch Keine Informationen zu diesem Termin.</p>
		{% endif %}
	{% endif %}

{% if event.anmerkungen|length %}
  <h4 id="heading-anmerkungen">Anmerkungen</h4>
  <p class="anmerkungen">{{ event.anmerkungen }}</p>
{% endif %}

{#
    <div class="content">
        {% if event.allDay %}
            {% if event.multiDay %}
		<p>Hier Infos mehrtägige Events</p>
                <b>Starts</b> {{ event.startDate.format('F j, Y') }}<br />
                <b>Ends</b> {{ event.endDate.format('F j, Y') }}
            {% else %}
                {{ event.startDate.format('F j, Y') }} (All Day)
            {% endif %}
        {% else %}
		<p class="info">Hier Infos zum Kurs.</p>
            <b>Starts</b> {{ event.startDate.format('F j, Y \\a\\t g:ia') }}<br />
            <b>Ends</b> {{ event.endDate.format('F j, Y \\a\\t g:ia') }}
        {% endif %}

        {% if event.repeating %}
            <hr />
            <span class='glyphicon glyphicon-repeat'></span>&nbsp;<b>Repeats</b>
            {{ event.readableRepeatRule }}
        {% endif %}
    </div>
#}

</div>
