{# Einzelner Event in der Monatsansicht #}
{% set classes = "" %}
{% set classes = classes ~ (event.allDay ? " all_day") %}
{# if event.multiDay Ferien müssen immer aussehen wie Multiday! #}
  {% set classes = classes ~ " multi_day" %}
  {% set classes = classes ~ (day.containsDate(event.startDate) ? " first_day") %}
  {% set classes = classes ~ (day.containsDate(event.endDate) ? " last_day") %}
{# endif #}

<div class="holiday event tips{{ classes }}" data-toggle="popover">
  {% autoescape false %}
    <a class="trigger" href="">
  {{ day.containsDate(event.startDate) or day.containsDate(event.endDate) ? "Ferien/Feiertag" : "&nbsp;"|raw }}
{#{{ day.containsDate(event.startDate) or day.containsDate(event.endDate) ? event.title : "&nbsp;"|raw }}#}
    </a>
  {% endautoescape %}
  <div class="qtip hidden">
	  <svg class="close-popover" width="17px" height="16px" viewBox="0 0 14 14" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
	      <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
		  <g id="Artboard">
		      <g id="closeButton">
			  <circle id="Oval" fill="#83EBD1" fill-rule="nonzero" cx="7" cy="7" r="7"></circle>
			  <path d="M7.023,7.87001563 L4.286,10.6300156 L3.389,9.71001563 C4.286,8.81301562 5.183,7.89301563 6.126,6.97301563 C5.206,6.05301563 4.309,5.17901562 3.435,4.28201562 L4.309,3.38501563 L7,6.09901562 L9.668,3.40801563 L10.565,4.32801563 C9.668,5.20201562 8.794,6.09901562 7.92,6.99601563 L10.588,9.68701563 L9.714,10.5610156 L7.023,7.87001563 Z" id="×" fill="#000000"></path>
		      </g>
		  </g>
	      </g>
	  </svg>
    <p>{{ event.title }}</p>
  </div>
</div>
