{% extends '_layout.html' %}

{% block content %}
  <h2>Team</h2>
  {% for teacher in craft.entries.section('team').limit(null) %}
  <section class="raster">

    {% if teacher.portrait|length %}
    <img src="{{ teacher.portrait.first().getUrl('cropSquare') }}" alt="{{ teacher.title }}">
    {% endif %}

    <div class="raster-textfeld">
    <a id="{{ teacher.slug }}" class="anchor"></a>
      <h3>{{ teacher.title }}</h3>
      {% if teacher.quote|length %}
      <p class="teacher-quote">«{{ teacher.quote }}»{% if teacher.quoteAuthor|length %} – {{ teacher.quoteAuthor }}{% endif %}</p>
      {% endif %}
      <div class="accordion">

      	<section class="visible">
		{{ teacher.visibleTextTeacher }}
		<p class="accordion-trigger" style="text-align: left;"><span>Weitere Informationen</span></p>
	</section>

	<section class="collapsed">
	      {{ teacher.beschriebLehrperson }}
	      {% if teacher.angebote|length %}
		      <h4>{{ teacher.title }}s Angebote</h4>
		      {% if teacher.angebote|length > 1 %}
		      <ul>
		      {% for kurs in teacher.angebote %}
			{% set url = kurs.url|split('\/') %}
			<li><a href="{{ url[3] }}#{{ url[4] }}">{{ kurs.title }}</a></li> 
		      {% endfor %}
		      </ul>
		      {% else %}
			{% set url = teacher.angebote[0].url|split('\/') %}
		      <p><a href="{{ url[3] }}#{{ url[4] }}">{{ teacher.angebote[0].title }}</a></p>
		      {% endif %}
	      {% endif %}
	      <p class="accordion-collapse" style="text-align: left;"><span>Weniger Informationen</span></p>
	</section>
      </div> <!-- End div.accordion -->
    </div> <!-- End div.raster-textfeld -->

  </section> <!-- End section.raster-->
  {% endfor %}

{% endblock %}
