{% extends '_layout.html' %}

{% block content %}
  {# <h2>{{ entry.title }}</h2> #}
  <h2>Workshops</h2>

  <section class="raster">

    <div class="raster-bildfeld">
      {% if entry.extTeachers|length %}
        {% for extTeacher in entry.extTeachers %}
        <!-- <p>{% if extTeacher.tlink|length %}<a href="{{ extTeacher.tlink }}" target="_blank">{% endif %}{{ extTeacher.tname }}{% if extTeacher.tlink|length %}</a>{% endif %}</p> -->
        <img src="{{ extTeacher.timg[0].url }}" alt="{{ extTeacher.tname }}" width="100">
        {% endfor %}
      {% else %}
        <!-- no Teacher Image -->
      {% endif %}
    </div>
    
    <div class="raster-textfeld">
      <div class="accordion">
        <section class="visible">
          <a id="{{ entry.slug }}" class="anchor"></a>
          <h3>{{ entry.title }}</h3>
          <h4>{{ entry.untertitel }}</h4>

          {# Externe und interene Lehrer in Liste zusammenführen #}
          {% if entry.lehrpersonen|length == 0 and entry.ExtTeachers|length == 0 %}
            <p>Die Lehrer für diesen Workshop werden in Kürze angekündigt.</p>
          {% else %}
            {% set teachernames = [] %}
            {% set teacherurls = [] %}
            {# Externe Lehrer #}
            {% for extTeacher in entry.extTeachers %}
              {% set teachernames = teachernames|merge([extTeacher.tname]) %}
              {% set teacherurls = teacherurls|merge([extTeacher.tlink]) %}
            {% endfor %}
            {# Interne Lehrer #}
            {% for teacher in entry.lehrpersonen %}
              {% set teachernames = teachernames|merge([teacher.title]) %}
              {% set teacherurls = teacherurls|merge([teacher.url]) %}
            {% endfor %}

          {# Lehrer auflisten, wenn es mehr als einer ist, mit «und» oder mit Kommata verbinden. #}
          <p class="teacher"> Mit
            {% for i in 0..(teachernames|length - 1) %}
              {% if loop.first %}
                <a href="{{ teacherurls[i] }}">{{ teachernames[i] }}</a>
              {% elseif not loop.last %}
                , <a href="{{ teacherurls[i] }}">{{ teachernames[i] }}</a>
              {% else %}
                und <a href="{{ teacherurls[i] }}">{{ teachernames[i] }}</a>
              {% endif %}
            {% endfor %}
          </p>
          {% endif %}

          {% if entry.visibleText|length %}
            {{ entry.visibleText }}
          {% endif %}

          <p class="accordion-trigger"><span>Weitere Informationen</span></p>
        </section>

        <section class="collapsed">
          {{ entry.beschrieb }}

          {% if entry.mailLink %}
            <p><a class="mail-link" href="mailto:info@seeschau.ch?subject=Anmeldung {{ entry.title }}">Hier anmelden</a></p>
          {% else %}
            <p>Ohne Voranmeldung willkommen!</p>
          {% endif %}

          <p>Termine siehe <a href="/calendar" class="cal-link">Kalender</a>, Preise siehe <a href="/info">Info</a> (???).</p> 

          <p class="accordion-collapse"><span>Weniger Informationen</span></p>
        </section> <!-- End collapsed part of accordion -->
      </div>
    </div>
  
  </section>
  
{% endblock %}
