{#
  head.html
  Metatags and Links to CSS
#}

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="referrer" content="origin-when-cross-origin" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />


<meta name="twitter:title" content="{{ currentSite.name }}">
<meta name="description" content="House of Sacred Arts. Yoga- und Thearpiezentrum.">
<meta property="og:title" content="{{ currentSite.name }}">
<meta property="og:description" content="House of Sacred Arts. Yoga- und Thearpiezentrum.">
<meta property="og:image" content="/assets/_pic/seeschau.png">

<link rel="shortcut icon" href="/assets/_pic/favicon.png" type="image/x-icon">

<title>{{ currentSite.name }}</title>

{# <link rel="stylesheet" href="/assets/css/fonts.css"> #}
<link rel="stylesheet" href="/assets/css/reset.css">
<link rel="stylesheet" href="/assets/css/style.css"> 
