<nav>
  {% set p = craft.request.firstSegment %}
  <ul>
    <li {% if p == "news" %}class="active"{% endif %}><a href="/news">News</a></li>
    <li {% if p == "team" %}class="active"{% endif %}><a href="/team">Team</a></li>
    <li {% if p == "yoga" %}class="active"{% endif %}><a href="/yoga">Yoga</a></li>
    <li {% if p == "music-voice" %}class="active"{% endif %}><a href="/music-voice">Music & Voice</a></li>
    <li {% if p == "bodywork" %}class="active"{% endif %}><a href="/workshops">Workshops</a></li>
    <li {% if p == "calendar" %}class="active"{% endif %}><a href="/calendar">Calendar</a></li>
    <li {% if p == "info" %}class="active"{% endif %}><a href="/info">Info</a></li>
  </ul>
</nav>
