{% extends "_layout.html" %}
{% block content %}
  <h2>News</h2>
  <section class="news">
  	<div class="news-item">
		<img src="/assets/_pic/tempAssets/bergsegen.jpg" alt="">
		<p class="date">10. Oktober 2018</p>
		<h3>Mountain Blessing «Awakening Beyond»</h3>
		<p><a href="#">Mehr erfahren</a></p>
	</div>
  	<div class="news-item">
		<img src="/assets/_pic/tempAssets/regulahut.jpg" alt="">
		<p class="date">16. September 2018</p>
		<h3>Druckfrisch «Zürich for Women only» …</h3>
		<p><a href="#">Mehr erfahren</a></p>
	</div>
  	<div class="news-item">
		<img src="/assets/_pic/tempAssets/neto.jpg" alt="">
		<p class="date">19. August 2018</p>
		<h3>Gaia Mother Tree by Ernesto Neto</h3>
		<p><a href="#">Mehr erfahren</a></p>
	</div>
  	<div class="news-item">
		<img src="/assets/_pic/tempAssets/orangen.jpg" alt="">
		<p class="date">2. August 2018</p>
		<h3>Beyond</h3>
		<p><a href="#">Mehr erfahren</a></p>
	</div>
  	<div class="news-item">
		<img src="/assets/_pic/tempAssets/paddelboot.jpg" alt="">
		<p class="date">2. Oktober 2018</p>
		<h3>Mountain Blessing «Awakening Beyond»</h3>
		<p><a href="#">Mehr erfahren</a></p>
	</div>
  	<div class="news-item">
		<img src="/assets/_pic/tempAssets/regulatisch.jpg" alt="">
		<p class="date">30. Juli 2018</p>
		<h3>Honoring Mother Earth</h3>
		<p><a href="#">Mehr erfahren</a></p>
	</div>
	<div id="more-news"><p>Mehr Posts laden</p></div>
  </section>

  <h2>Videos</h2>
  <section class="videos">
	<div class="video-item">
		<img src="/assets/_pic/tempAssets/mantra.jpg" alt="">
	</div>
	<div class="video-item">
		<img src="/assets/_pic/tempAssets/stretch.jpg" alt="">
	</div>
	<div class="video-item">
		<img src="/assets/_pic/tempAssets/see.jpg" alt="">
	</div>
	<div class="video-item">
		<img src="/assets/_pic/tempAssets/wiese.jpg" alt="">
	</div>
	<div id="more-news"><p>Mehr Videos laden</p></div>
  </section>
{% endblock %}
