{% extends "_layout.html" %}
{% block content %}
  <h2>News</h2>
  <section class="news" >
{% for instagramdata in craft.picPuller.media_recent({'user_id' : 143,  'use_stale_cache' : true, 'limit': 6}) %}
    <div class="news-item">
{# {% if loop.first %}
      <p>Status: {{ instagramdata.status }}</p>
      <p>Error Type: {{ instagramdata.error_type }}</p>
      <p>Error Message: {{ instagramdata.error_message }}</p>
    {% endif %}
#}
    {% if instagramdata.status == 'true' %}
      {#<p style="display:none">Loop Index: {{ loop.index }}</p>#}
    {% if instagramdata.video_low_resolution != '' %}
      <video {#width="320" height="320" #}controls>
        <source src="{{ instagramdata.video_standard_resolution }}" type="video/mp4">
        Your browser does not support the video tag.
      </video>
      {#
      <p>This is a video; not an image.</p>
      <p>{{ instagramdata.video_low_resolution }}</p>
      #}
    {% else %}
      <p><img src="{{instagramdata.standard_resolution}}"></p>
    {% endif %}
      <p class="date">{{ instagramdata.created_time|date('d. F Y') }}</p>
      <h3>{{instagramdata.caption|length > 52 ? instagramdata.caption|slice(0, 52) ~ " …" : instagramdata.caption }}</h3>
      <p><a href="{{ instagramdata.link }}">Mehr erfahren</a></p>
    {% else %}
        <p class="date error">Error Type: {{ instagramdata.error_type }}</p>
        <h3 class="error">Error Message: {{ instagramdata.error_message }}</p>
    {% endif %}
    </div>
{% endfor %}
	{# ev. muss "user_id" angepasst werden #}
  </section>

{# fake content #}
{#
<section class="news">
  	<div class="news-item">
		<img src="/assets/_pic/tempAssets/bergsegen.jpg" alt="">
		<p class="date">10. Oktober 2018</p>
		<h3>Mountain Blessing «Awakening Beyond»</h3>
		<p><a href="#">Mehr erfahren</a></p>
	</div>
  	<div class="news-item">
		<img src="/assets/_pic/tempAssets/regulahut.jpg" alt="">
		<p class="date">16. September 2018</p>
		<h3>Druckfrisch «Zürich for Women only» …</h3>
		<p><a href="#">Mehr erfahren</a></p>
	</div>
  	<div class="news-item">
		<img src="/assets/_pic/tempAssets/neto.jpg" alt="">
		<p class="date">19. August 2018</p>
		<h3>Gaia Mother Tree by Ernesto Neto</h3>
		<p><a href="#">Mehr erfahren</a></p>
	</div>
  	<div class="news-item">
		<img src="/assets/_pic/tempAssets/orangen.jpg" alt="">
		<p class="date">2. August 2018</p>
    {% set tooLongString = "Beyond long text lorem ipsum dolor sit amet, als Gregor Samsa eines Morgens nach unruhigen Träumen erwachte, fand er sich in seinem Bett zu einem ungeheuren Ungeziefer verwandelt." %}
		<h3>{{ tooLongString|length > 42 ? tooLongString|slice(0, 42) ~ " …" : tooLongString }}</h3>
		<p><a href="#">Mehr erfahren</a></p>
	</div>
  	<div class="news-item">
		<img src="/assets/_pic/tempAssets/paddelboot.jpg" alt="">
		<p class="date">2. Oktober 2018</p>
		<h3>Mountain Blessing «Awakening Beyond»</h3>
		<p><a href="#">Mehr erfahren</a></p>
	</div>
  	<div class="news-item">
		<img src="/assets/_pic/tempAssets/regulatisch.jpg" alt="">
		<p class="date">30. Juli 2018</p>
		<h3>Honoring Mother Earth</h3>
		<p><a href="#">Mehr erfahren</a></p>
	</div>
	<div id="more-news"><p>Mehr Posts laden</p></div>
  </section>
#}
{# bis hier fake #}

  <h2>Videos</h2>
  
  <section class="videos">

    {% set videos = craft.entries.section('videos').limit(4) %}
    {% for videoEntry in videos %}
    <div class="video-item">
      {% set video = videoEntry.video %}
      {{ video.embed({ width: 500, height: 267 }) }}
    </div>
    {% endfor %}

  </section>

{# Fake content #}
{#
  <section class="videos">
	<div class="video-item">
		<img src="/assets/_pic/tempAssets/mantra.jpg" alt="">
  </div>
	<div class="video-item">
		<img src="/assets/_pic/tempAssets/stretch.jpg" alt="">
	</div>
	<div class="video-item">
		<img src="/assets/_pic/tempAssets/see.jpg" alt="">
	</div>
	<div class="video-item">
		<img src="/assets/_pic/tempAssets/wiese.jpg" alt="">
	</div>
	<div id="more-news"><p>Mehr Videos laden</p></div>
  </section>
#}
{# Fake content #}
{% endblock %}
