{% extends "_layout.html" %}
{% block content %}
  <h2>News</h2>
  <section class="news" >
{% set hasNoVideo = true %} {# Zum prüfen, ob bereits ein Video im Feed steht #}
{% for instagramdata in craft.picPuller.media_recent({'user_id' : 143,  'use_stale_cache' : true, 'limit': 6}) %}
    <div class="news-item">
{# {% if loop.first %}
      <p>Status: {{ instagramdata.status }}</p>
      <p>Error Type: {{ instagramdata.error_type }}</p>
      <p>Error Message: {{ instagramdata.error_message }}</p>
    {% endif %}
#}
    {% if instagramdata.status == "true" %}
      {#<p style="display:none">Loop Index: {{ loop.index }}</p>#}
    {% if instagramdata.video_standard_resolution != "" %}
      {#<video controls poster="{{ instagramdata.standard_resolution }}" {{ hasNoVideo ? "autoplay playsinline" : "" }}>#}
    <video poster="{{ instagramdata.standard_resolution }}" autoplay playsinline preload="auto" loop muted>
        <source src="{{ instagramdata.video_standard_resolution }}" type="video/mp4">
        Your browser does not support the video tag.
      </video>
      {% set hasNoVideo = false %} {# we know now that there are videos in the feed #}
    {% else %}
      <p><img src="{{instagramdata.standard_resolution}}"></p>
    {% endif %}
      <p class="date">{{ instagramdata.created_time|date('d. F Y') }}</p>
      <h3>{{instagramdata.caption|length > 52 ? instagramdata.caption|slice(0, 52) ~ " …" : instagramdata.caption }}</h3>
      <p><a href="{{ instagramdata.link }}">Mehr erfahren</a></p>
    {% else %}
        <p class="date error">Error Type: {{ instagramdata.error_type }}</p>
        <h3 class="error">Error Message: {{ instagramdata.error_message }}</p>
    {% endif %}
    </div>
{% endfor %}
	{# ev. muss "user_id" angepasst werden #}
  </section>

{# fake content #}
{#
<section class="news">
  	<div class="news-item">
		<img src="/assets/_pic/tempAssets/bergsegen.jpg" alt="">
		<p class="date">10. Oktober 2018</p>
		<h3>Mountain Blessing «Awakening Beyond»</h3>
		<p><a href="#">Mehr erfahren</a></p>
	</div>
  	<div class="news-item">
		<img src="/assets/_pic/tempAssets/regulahut.jpg" alt="">
		<p class="date">16. September 2018</p>
		<h3>Druckfrisch «Zürich for Women only» …</h3>
		<p><a href="#">Mehr erfahren</a></p>
	</div>
  	<div class="news-item">
		<img src="/assets/_pic/tempAssets/neto.jpg" alt="">
		<p class="date">19. August 2018</p>
		<h3>Gaia Mother Tree by Ernesto Neto</h3>
		<p><a href="#">Mehr erfahren</a></p>
	</div>
  	<div class="news-item">
		<img src="/assets/_pic/tempAssets/orangen.jpg" alt="">
		<p class="date">2. August 2018</p>
    {% set tooLongString = "Beyond long text lorem ipsum dolor sit amet, als Gregor Samsa eines Morgens nach unruhigen Träumen erwachte, fand er sich in seinem Bett zu einem ungeheuren Ungeziefer verwandelt." %}
		<h3>{{ tooLongString|length > 42 ? tooLongString|slice(0, 42) ~ " …" : tooLongString }}</h3>
		<p><a href="#">Mehr erfahren</a></p>
	</div>
  	<div class="news-item">
		<img src="/assets/_pic/tempAssets/paddelboot.jpg" alt="">
		<p class="date">2. Oktober 2018</p>
		<h3>Mountain Blessing «Awakening Beyond»</h3>
		<p><a href="#">Mehr erfahren</a></p>
	</div>
  	<div class="news-item">
		<img src="/assets/_pic/tempAssets/regulatisch.jpg" alt="">
		<p class="date">30. Juli 2018</p>
		<h3>Honoring Mother Earth</h3>
		<p><a href="#">Mehr erfahren</a></p>
	</div>
	<div id="more-news"><p>Mehr Posts laden</p></div>
  </section>
#}
{# bis hier fake #}

  <h2>Videos</h2>
  
  <div class="accordion">

    <section class="videos visible">
      {% set videos = craft.entries.section('videos').type('videos').limit(6) %}
      {% for videoEntry in videos %}
      <div class="video-item">
        {% set video = videoEntry.video %}
        {{ video.embed({ width: 500, height: 267 }) }} {# funktioniert nicht, what? #}
        <p>{{ video.getEmbed() }}</p>
      </div>
      {% endfor %} 
      <p class="accordion-trigger" style="grid-column: 1/-1;"><span>Mehr Videos anzeigen</span></p>
    </section> <!-- End visible part of accordion -->

    <section class="videos collapsed">
      {% set collapsedVideos = craft.entries.section('videos').type('collapsedVideos').limit(4) %}
      {% for collapsedVideoEntry in collapsedVideos %}
      <div class="video-item">
        {% set collapsedVideo = collapsedVideoEntry.video %}
        {{ collapsedVideo.embed({ width: 500, height: 267 }) }} {# funktioniert nicht, what? #}
        <p>{{ collapsedVideo.getEmbed() }}</p>
      </div>
      {% endfor %} 
      {# 
      <p class="accordion-collapse" style="grid-column: 1/-1;"><span>Weniger Videos anzeigen</span></p>
      #}
    </section> <!-- End collapsed part of accordion -->

  </div> <!-- End Accordion -->

{# Fake content #}
{#
  <section class="videos">
	<div class="video-item">
		<img src="/assets/_pic/tempAssets/mantra.jpg" alt="">
  </div>
	<div class="video-item">
		<img src="/assets/_pic/tempAssets/stretch.jpg" alt="">
	</div>
	<div class="video-item">
		<img src="/assets/_pic/tempAssets/see.jpg" alt="">
	</div>
	<div class="video-item">
		<img src="/assets/_pic/tempAssets/wiese.jpg" alt="">
	</div>
	<div id="more-news"><p>Mehr Videos laden</p></div>
  </section>
#}
{# Fake content #}
{% endblock %}
