{% extends "_layout.html" %}

{% block content %}

	<h2>{{ entry.title }}</h2>

	<section id="tel-mail" class="contact">
		<h3>{{ entry.heading }}</h3>
		<p><strong>Telefonisch</strong><br>
		Montags bis Freitags: <a href="tel:{{ entry.tel|replace({' ': ''}) }}">{{ entry.tel }}</a></p>
		<p><strong>Per Mail</strong><br>
		<a href="mailto:{{ entry.mail }}">{{ entry.mail }}</a></p>
	</section>

	<section id="map" class="contact" style="margin-bottom: 2rem;">
		<!-- <h3>So finden sie uns</h3> -->
		<img src="/assets/_pic/tempAssets/googleMap.jpg" alt="">
	</section>

	<section id="anreise-text" class="contact">
		{{ entry.anreiseText }}
	</section>

  <section id="abonnemente" class="contact">
  	<h3>Abonnemente</h3>
	{{ entry.abonnementeText }}
  </section>

{% endblock %}
