{# Basic Structure #}
{% set hausmarke = craft.request.firstSegment %}{# auf welcher seite befinden wir uns? #}

<!DOCTYPE html>
<html lang="de">
<head>
  {% include 'includes/head.html' %}
</head>


<body class="{{ hausmarke }}">
  <header>
    {% include 'includes/header.html' %}
  </header>
  
  <nav id="nav-overlay">
    {% include 'includes/nav.html' %}
    <div id="overlay-footer">
      {% include 'includes/footer.html' %}
    </div>
  </nav>

  <main>
  {% block content %} 
    <p>If you see this, contact your administrator. The template inheritance doesn’t work properly on this page.</p>
  {% endblock %}
  </main>

  <footer>
    {% include 'includes/footer.html' %}
  </footer>

  <!-- JS -->
  {# Hamburger und Header-Collapse #}
  {% include 'includes/loadjs.html' %}
  {# Popover #}
  {# Wie ist das auf Mobile? Worst Case Szenario: deaktivieren und einblenden #}
  {% if hausmarke == 'calendar' %}
    <script src="/assets/js/thirdparty/popper.js"></script>
    <script src="/assets/js/thirdparty/tooltip.js"></script>
    <script src="/assets/js/poppers.js?v=1.0"></script>
  {% elseif hausmarke == 'yoga' or hausmarke == 'music-and-voice' or hausmarke == 'team' or hausmarke == 'workshops' or hausmarke == 'news' %}
  {# Accordion #}
    <script src="/assets/js/thirdparty/jquery.min.js"></script>
    <script src="/assets/js/thirdparty/jquery-ui.min.js"></script>
    <script src="/assets/js/accordion.js?v=1.0"></script> 
    {% if hausmarke == 'news' %}
      <script src="/assets/js/moreVideos.js"></script>
    {% endif %}
  {% endif %}

  <script>console.log('{{ hausmarke }}');</script>

</body>
</html>
